<ul class="menu">
  <li>@Html.ActionLink("Home", "Index", "Home")</li>
  <li>@Html.ActionLink("See all machines", "Index", "Machines")</li>
  <li>@Html.ActionLink("See all engineers", "Index", "Engineers")</li>
  <li>@Html.ActionLink("Add new machine", "Create", "Machines")</li>
  <li>@Html.ActionLink("Add new engineer", "Create", "Engineers")</li>
</ul>
